{% extends "doctorapp/patient/pindex.html" %}
{% block content %}       
       <section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Chat <small class="text-muted">Welcome to Oreo</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                        
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="..\dashboard\index.html"><i class="zmdi zmdi-home"></i> Oreo</a></li>
                                                            <li class="breadcrumb-item">App</li>
                                                                                        <li class="breadcrumb-item active">Chat</li>
                                                    </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                <div class="row clearfix">
    <div class="col-lg-12 col-xl-12">
        <div class="card chat-app">
            <div id="plist" class="people-list">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-addon"><i class="zmdi zmdi-search"></i></span>
                </div>
                <ul class="nav nav-tabs p-l-0 p-r-0" role="tablist">
                    <li class="nav-item inlineblock"><a class="nav-link active" data-toggle="tab" href="#people">People</a></li>
                    <li class="nav-item inlineblock"><a class="nav-link" data-toggle="tab" href="#groups">Groups</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane stretchRight active" id="people">
                        {% for i in data %}
                   
                        <ul class="chat-list list-unstyled m-b-0">
                            <li class="clearfix">
                                <a href="{% url 'chatbot' pk=i.user_id.email %}"><img src="{{i.profile_pic.url}}" alt="avatar">
                                </a>
                                
                                    <div class="about">
                                    <div class="name">{{i.firstname}}</div>
                                    <div class="status"> <i class="zmdi zmdi-circle offline"></i> left 7 mins ago </div>
                                
                                </div>
                                
                            </li>
                        {% endfor%}
                                                    </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane stretchRight" id="groups">
                        <ul class="chat-list list-unstyled">
                            <li class="clearfix">
                                <img src="..\assets\images\xs\avatar6.jpg" alt="avatar">
                                <div class="about">
                                    <div class="name">PHP Lead</div>
                                    <div class="status">6 People </div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <img src="..\assets\images\xs\avatar7.jpg" alt="avatar">
                                <div class="about">
                                    <div class="name">UI UX Designer</div>
                                    <div class="status">10 People </div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <img src="..\assets\images\xs\avatar8.jpg" alt="avatar">
                                <div class="about">
                                    <div class="name">TL Groups</div>
                                    <div class="status">2 People </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="chat">
                <div class="chat-header clearfix">
                    <img src="{{did.profile_pic.url}}" alt="avatar">
                    <div class="chat-about">

                        <div class="chat-with">{{did.firstname}}</div>
                        <div class="chat-num-messages">online</div>
                    </div>
                    <a href="javascript:void(0);" class="list_btn btn btn-primary btn-round float-md-right"><i class="zmdi zmdi-comments"></i></a>
                </div>

               {% if uid %}
               {% for i in chatdata %}

                <div class="chat-history xl-slategray">
                    <ul class="m-b-0">
                                        {% if i.s_message %}
                                        <li class="clearfix">
                                            <div class="message-data text-right"> 
                                                <span class="message-data-time"></span> &nbsp; &nbsp; 
                                                <span class="message-data-name">{{request.session.firstname}}</span> <i class="zmdi zmdi-circle me"></i>
                                            </div>
                                            <div class="message other-message float-right"> {{i.s_message}} </div>
                                        </li>
                                        {% endif %}

                        {% if i.r_message %}
                        <li>
                            <div class="message-data">
                                <span class="message-data-name"><i class="zmdi zmdi-circle online"></i>{{did.firstname}}</span> <span class="message-data-time">10:12 AM, Today {{uid.email}}</span>
                            </div>
                            <div class="message my-message">
                                <p>{{i.r_message}}</p>
                                
                            </div>
                        </li>
                        {% endif %}
                        
                    </ul>
                </div>
                {% endfor %}
                {% endif %}

                <div class="chat-message clearfix">
                    <div class="input-group p-t-15">
                        <form action="{% url 'sendmessage' %}" class="input-group p-t-15"  method="POST">
                            {% csrf_token %} 
                        <input type="hidden" class="form-control" name="s_email" value="{{request.session.email}}" placeholder="Enter text here...">
                        <input type="hidden" class="form-control" name="r_email" value="{{uid.email}}" placeholder="Enter text here...">
                        <input type="text" class="form-control" name="message" placeholder="Enter message here...">
                        <input type="hidden" class="form-control" name="role" value="{{uid.role}}" placeholder="Enter message here...">
                        
                        <input type="submit" class="input-group-addon" value="submit"/>
                        
                    </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
            </div>
        </section>

 {% endblock%}
             