{% extends "doctorapp/dashboard/index.html" %}


{% block content %}
    

    <section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Appointments <small class="text-muted">Welcome to Oreo</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                        
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="..\dashboard\index.html"><i class="zmdi zmdi-home"></i> Oreo</a></li>
                                                            <li class="breadcrumb-item">Payment</li>
                                                            <li class="breadcrumb-item active">Payments</li>
                                                    </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h2><strong>Appointments :</strong> </h2>
                    <ul class="header-dropdown">
                        <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right slideUp float-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else</a></li>
                            </ul>
                        </li>
                        <li class="remove">
                            <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>Patient Name</th>
                                    <th>Appointment Date</th>
                                    <th>Appointment Time</th>
                                    <th></th>                                            
                                    
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in data %}
                                <tr>      <form action="{% url 'send_mail2' %}" method="POST">
                                    {% csrf_token %}                                       
                                    <input type="hidden" name="firstname" value="{{item.patient_id.firstname}}"/>                         
                                    <input type="hidden" name="email" value="{{item.user_id.email}}"/>                         
                                    <input type="hidden" name="avl_id" value="{{item.avaibility_id}}"/>                         
                                  
                                    <td>{{item.patient_id.firstname}} {{item.patient_id.lastname}} </td>
                                    <td>{{item.availability_id.avail_date}}</td>
                                    <td>{{item.availability_id.start_time}}</td>
                                    <td><button type="submit" class="btn btn-primary btn-round">Accpept</button></td>
                                    </form>
                                    {% endfor %}
                            </tr> 
                            
                            </tbody>
                        </table>
                    </div>
                </div>              
            </div>
        </div>
    </div>

            </div>
        </section>
{% endblock %}