{% extends "my_app/base_index.html" %}

{% block content %}
&nbsp;
<h1 style="margin-left:115px ;color: black;">Ahmedabad</h1>
&nbsp;
<div style="margin-left:115px; max-width: 1100px;">
<table  style="text-align: center;color: black;" class="table" >
    <thead>
      <tr>
        <th style="text-align: center;" scope="col">Sr.no</th>
        <th style="text-align: center;" scope="col">Name</th>
        <th style="text-align: center;" scope="col">Area</th>
        <th style="text-align: center;" scope="col">Cotact Number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th style="text-align: center;" scope="row">1</th>
        <td  style="text-align: center";>Shree Bhuvaneshwri Ayurvedic Stores</td>
        <td>Sattadhar Cross Road</td>
        <td>079 2748 848</td>
      </tr>
      <tr>
        <th style="text-align: center;" scope="row">2</th>
        <td>Meera Ayurvedic Stores</td>
        <td>Motera</td>
        <td>097221 34744</td>
      </tr>
      <tr>
        <th style="text-align: center;" scope="row">3</th>
        <td>Kedar Ayurved Store And Clinic</td>
        <td>Bodakdev</td>
        <td>079 4002 8863</td>
      </tr>
    </tbody>
  </table>

</div>
{% endblock %}