{% extends "my_app/base_index.html" %}

{% block content %}
<div class="top-brands">
    <div class="container">
    <h2>Medical Shops in gujarat  </h2>
        <div class="grid_3 grid_5">
            <div >
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    
                    <li  role="presentation"><a href="{% url 'Adhlist' %}" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">Ahmedabad</a></li>
                    <li  role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">Rajkot</a></li>
                    <li  role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">Surat</a></li>
                    <li  role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">Vadodara</a></li>
                    <li  role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">Jamnagar</a></li>
                    <li  role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">Junagath</a></li>
                    <li  role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">Bhavnagar</a></li>
                    <li  role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">katch </a></li>
                    <li  role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">Banaskantha</a></li>
                    <li  role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">Morbi</a></li>
                    <li  role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">Dwarka</a></li>
                    <li  role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">porbandar</a></li>
                   
                   
                </ul>
                
                
            </div>
        </div>
    </div>
</div>

{% endblock %}