{% extends 'my_app/base_index.html'%}

{% block content%}


<div class="register">
    <div class="container">
        <h2>Register Here</h2>
        <div class="login-form-grids">
                <form action="{% url 'resetpassword' %}" method="post">
                        {% csrf_token %}
                        {%  if msg %}
                        <div class="alert alert-success" role="alert">
                            {{msg}}
                          </div>
                        {% endif %}
                        <div>
                             <input type="hidden" placeholder="Your Email *" value="{{email}}" required="" name="email"/>
                        </div>
                        &nbsp;
                        <div>
                             <input type="text" placeholder="otp" required="" name="otp"/>
                        </div>
                        &nbsp;
                        <div>
                            <input type="password" placeholder="newpassword" required="" name="password"/>
                        </div>
                        &nbsp;
                            <input type="submit" value="SUBMIT">



                    </form>
                </div>
               
                <div class="register-home">
                    <a href="index.html">Home</a>
                </div>
                </div>
            </div>











{% endblock%}